<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-3 col-md-offset-2 text-center how-to">
      <span class="fa-stack fa-3x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-list fa-stack-1x fa-inverse"></i>
      </span>
      <p class="main">
        Create a new Date Escape message.
      </p>
    </div>
    <div class="col-md-2 col-sm-3 text-center how-to">
      <span class="fa-stack fa-3x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
      </span>
      <p class="main">
        Text your Trigger Word to Date Escape.
      </p>
    </div>
    <div class="col-md-2 col-sm-3 text-center how-to">
      <span class="fa-stack fa-3x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
      </span>
      <p class="main">
        Date Escape calls your phone and says your message.
      </p>
    </div>
    <div class="col-md-2 col-sm-3 text-center how-to">
      <span class="fa-stack fa-3x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-eject fa-stack-1x fa-inverse"></i>
      </span>
      <p class="main">
        Escape the Date!
      </p>
    </div>
  </div>
</div>
