<h1>All Scenarios</h1>
<p><%= link_to 'New Scenario', new_scenario_path %></p>

<div>
  <% @scenarios.each do |scenario| %>
    <p>
      <strong>Scenario:</strong> <%= scenario.title %><br>
      <strong>Enabled?:</strong> <%= scenario.is_enabled? %>
    </p>
  <% end %>
</div>
