<h2>Create New Scenario</h2>
<% if @scenario.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@scenario.errors.count, "error") %> prohibited this scenario from being saved:</h2>

    <ul>
    <% @scenario.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render 'form' %>
