@import "bootstrap";

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  cursor: default;
  padding-top: 70px;
}

footer {
  width: 100%;
  margin: 15px;
  padding: 15px;
}

.strong {
  font-weight: bold;
}

.options {
  margin-left: 10px;
}

span.edit {
  font-size: 16px;
  padding: 0px 5px;
}

.dashboard > .module {
  margin-bottom: 16px;
}

.module-content {
  margin-top: 8px;
}

.profile-inline {
  display: inline;
}
